* {
    box-sizing: border-box; 
    padding: 0; margin: 0;
}
body {
    background-color: #ffffffef;
    margin: auto;
}
header {
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ff6347;
    color: white;
}
header h1 {
    display: inline-block;
    font-size: 50px;
}
header nav {
     padding-top: 20px;
     margin-right: 20px; 
     float: right; 
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     font-size: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block; margin-left: 25px;
}
p {
    font-size: 16px;
}
.mountain {
    height: 800px; 
    width: 100%; 
    margin-bottom: 25px; 
    background-image: url("./images/IMG_2439.JPG"); 
    background-size: cover; 
    background-position:center;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
aside {
    width: 200px;
    height: 100%;
    border-right: 3px; solid #ff6347;
}
#Home,#AboutMe,#MyProjects,#ContactMe,#Work { display: flex;
    font: 200px;
}
.flexhead {
    flex: 2;
}
.flexbodycontainer {
    flex: 5;
}
.flexbody {
    flex: 5;
    display: flex;
    margin-bottom: 40px;
    
}
.fancy { 
    position: relative;
    background-color: royalblue;
    padding: 2rem;
    text-align: center;
    max-width: inherit;
    text-shadow: 2px 2px red;
    font-size: 25px;
}
p {
    line-height: 15px;
    margin: 15px 0;
}
.section-wrapper {
    padding: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.section-wrapper ul {
    margin-left: 16px;
}
