* {
    box-sizing: border-box; 
    padding: 0; margin: 0;
}
body {
    background-color: #ffffffef;
    margin: auto;
    line-height: 1.3;
}
header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0c85e9;
    color: white;
}
header h1 {
    display: inline-block;
    font-size: 50px;
}
header nav {
     padding-top: 20px;
     margin-right: 20px; 
     float: right; 
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     font-size: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block; margin-left: 20px;
}

p {
    font-size: 16px;
    line-height: 1.3;
}
.mountain {
    height: 850px; 
    width: 100%; 
    background-image: url("./images/laxmi.JPG"); 
    background-size: cover; 
    background-position:center;
    position: relative;
    border: 5px solid rgb(49, 4, 92);
}
span {
    font-size: 200%;
    font-weight: bold;
    color: brown;
    font-style: oblique;
    position: absolute;
    top: 800px;
    right: 0;
    border: 3px solid ;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.container {
    background-color: rgb(243, 165, 157);
}
aside {
    width: 200px;
    height: 100%;
    border-right: 3px;
    solid: hsl(9, 100%, 64%);
}
#AboutMe,#MyProjects,#ContactMe,#Work { 
    display: flex;
    font: 250px;
    line-height: 1.3
    border: 3px solid rgb(18, 3, 77);
  
}

.flexhead {
    flex: 1;
    border-right: 5px solid green;
    text-shadow: 2px 2px #0000ff;
    text-decoration: underline;
    height: 150px;
    margin-top: 10px;
    text-align: left;
    font-size: 200%;
}
.workHead {
    flex: 1;
    text-align: center;
    margin-top: 80px;
    font-size: 200%;
    border-right: 5px solid green;
    text-decoration: underline;
    text-shadow: 2px 2px #0000ff;
     
}

.flexbody {
    flex: 6;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    
}

p {
    line-height: 15px;
    margin: 15px 0;
}
.section-wrapper {
    padding: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2.3;

}
.section-wrapper ul {
    margin-left: 16px;
}
.flexbodycontainer {
    display: flex;
    flex-wrap: wrap;
    background-color:  #7cc7f391;
    margin-left: 130px;
    padding: auto;
}
card {
    border: 5px solid blue;
    background-color: #66c8f5;
    size: 50px;
    height: 30%;
    width: 40%;
    margin: 10px;
    padding: 10px;
}

.bottom {
    text-align: center;
    font-weight: bolder;
    color: steelblue;
    background-color: hsl(318, 66%, 64%);
}
.title {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: black;
    background-color: hsl(318, 66%, 64%);  
}
.title:hover {
    color: rgb(56, 4, 245);
  }

.para {
    line-height: 1.2;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.info{
    display: flex;
    line-height: 2;
    text-align: start;
    font-weight: bold;
    display: inline;
    word-spacing: 40px;
    padding-left: 40px;
}
.resume { 
    position: relative;
    background-color: royalblue;
    padding: 5px;
    text-align: center;
    max-width: inherit;
    font-size: 20px;
}
a:hover {
    color: #fff;
  }
  .container1 {
      background-color: #de87d791;
      border-bottom: solid
  }
  .container2 {
    background-color: #7cc7f391;
    border-bottom: solid
}

.container3 {
    background-color: #f10bcb91;
    border-bottom: solid
}
  
@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  }

 

